{% load staticfiles %}
html, body, #map {
  height: 100%;
  margin: 10px;;
}

#autocomplete {
  width: 100%;
  height: 25px;
}
#map{
  width: 60%;
  display: inline-block;
  /*border-style: solid;
  border-color: blue;*/
  margin-left: 20px;
}
.button{
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
h1{
  color: blue;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.w3-top{
  background: white;
}
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("hs.jpeg");
    min-height: 100%;
}
.w3-navbar li a {
    padding: 16px;
    float: left;
    font-size: 1.25em;
}
#about{
  padding: 10px;
}
/*Crime drop down*/
.dropbtn1 {
    background-color: lightblue;
    margin-left: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline;
    display: block;
}

/*.dropbtn2:hover, .dropbtn:focus {
    background-color: darkblue;
}*/

.dropdown1 {
    /*position: absou;*/
    display: inline;
    vertical-align: top;
    /*border-style: solid;
    border-color: green;*/
}

.dropdown-content1 {
    /*display: none;*/
    display: inline;
    /*margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #f9f9f9;
    width: 10%;
    border-style: solid;
    border-color: green;*/*/
    /*overflow: auto;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}
.record {
    display: inline-block;
    /*border-style: solid;
    border-color: green;*/
    width: 51%;
    padding: 10px;
    vertical-align: top;
}
/*.show {display:block;}*/

/*Home Type drop down */
.home {
    display: inline-block;
    /*border-style: solid;
    border-color: blue;*/
    width: 45%;
    padding: 10px;
    vertical-align: top;
}
.dropbtn2 {
    display: block;
    background-color: lightblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /*border-style: solid;
    border-color: blue;*/
}

.dropbtn, .dropbtn2 {
    /*background-color: darkblue;*/
    display: inline-block;
}

.dropdown2 {
    /*position: relative;*/
    display: inline;
    vertical-align: top;
    /*border-style: solid;
    border-color: blue;*/
}

.dropdown-content2 {
    /*display: none;*/
    display: inline;
    /*padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f9f9f9;
    width: 15%;
    border-style: solid;
    border-color: blue;*/*/
    /*overflow: auto;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}
/*.show {display:block;}*/
#pad {
/*border-style: solid;
border-color: green;*/
display: inline;
vertical-align: top;
}
#work {
/*border-style: solid;*/
/*border-color: green;*/
}
#content {
 width: 90%;
 display: block;
 height: 200px;
 margin: 8px;
 padding: 5px;
 /*border-style: solid;
 border-color: yellow;*/
}

/*.container {
   vertical-align: top;
   display: inline-block;
   width: 640px;
   height: 180px;
   text-align: center;
   border-style: solid;
   border-radius: 25px;

}*/
#sidepanel{
  display: inline-block;
  /*border-style: solid;*/
  /*border-color: red;*/
  vertical-align: top;
  height: 600px;
  margin-top: 10px;
  margin-left: 1%;
  width: 35%;
  /*border-style: solid;
  border-color: yellow;*/
}
.w3-card-2{
}
.w3-card-2 img{
  height: 10%;
  width: 10%;
}
