{% load staticfiles %}
html, body, #map {
  height: 100%;
  margin: 0;
}

#autocomplete {
  width: 100%;
  height: 25px;
}
#map{
  width: 900px;
  display: inline-block;
}
.button{
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
h1{
  color: blue;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.w3-top{
  background: white;
}
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("hs.jpeg");
    min-height: 100%;
}
.w3-navbar li a {
    padding: 16px;
    float: left;
    font-size: 1.25em;
}
#about{
  padding: 10px;
}
