<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
       <title>Honest Agent</title>
       <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
       {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'map/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr-U2DG8cJOlAItlBSOPzVCjBKHbBUT04&libraries=places"></script>
        <script src="{% static 'map/js/lib/soda-js.bundle.js'%}"></script>
        <script type="text/javascript" src="{% static 'map/js/attachlisteners.js'%}"></script>
        <script type="text/javascript" src="{% static 'map/js/main.js' %}"></script>

    </head>
    <body>
      <!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar" id="myNavbar">
    <li>
      <a href="#home" class="w3-wide">Honest Agent</a>
    </li>
    <!-- Float links to the right -->
    <li class="w3-right w3-hide-small">
      <a href="#about">REAL TIME MAP</a>
      <a href="#team">TEAM</a>
      <a href="#work">OTHER RESOURCES</a>
      <a href="#pricing">PRESS</a>
      <a href="#contact">CONTACT</a>
    </li>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    <li>
      <a href="javascript:void(0)" class="w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars w3-padding-right w3-padding-left"></i>
      </a>
    </li>
  </ul>
</div>

<!-- Sidenav on small screens when clicking the menu icon -->
<nav class="w3-sidenav w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidenav">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-large w3-padding-16">Close ×</a>
  <a href="#about">REAL TIME MAP</a>
  <a href="#team">TEAM</a>
  <a href="#work">OTHER RESOURCES</a>
  <a href="#pricing">PRESS</a>
  <a href="#contact">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-padding-xxlarge w3-text-black">
    <span class="w3-jumbo w3-hide-small">Just trust us</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Just trust us</span><br>
     <!-- to help you find your information about your future home. -->
    <span class="w3-xlarge">We can provide you with the information that your agent won't.
    <p>With real information in REAL TIME, coming straight from the database to you!</p></span>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
    <div id="status"></div>
    <p><a href="#about" class="w3-btn w3-padding-large w3-large">See for yourself</a></p>
</div>
</header>

<div id="about">
  </div>
  <div id="map"></div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <form class ="button" action="demo_form.asp" >
      <input type="checkbox" id="assault" checked>Assault<br>
      <input type="checkbox" id="sexoffense" checked>Sex Offense<br>
      <input type="checkbox" id="arson" checked>Arson<br>
      <input type="checkbox" id="kidnapping" checked>Kidnapping<br>
      <br>
      <input type="checkbox" id="sfhome" checked>Single Family Homes<br>
      <input type="checkbox" id="condo" checked>Condos<br>
      <input type="checkbox" id="rent" checked>Rentals<br>
      <br>
      Price(Note Rentals are in per month price)
      <input type="textbox" id="minrange"> to <input type="textbox" id="maxrange">
      <button type="button" id="filterprice">Filter</button>
  </form>


<!-- About Section -->

  <!-- <h3 class="w3-center">ABOUT THE COMPANY</h3>
  <p class="w3-center w3-large">Key features of our company</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Design</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
  </div> -->

<!-- Promo Section - "We know design" -->

<div class="w3-container w3-light-grey w3-padding-64">

  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>One step at a time, all in one place</h3>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p> -->
      <p><a href="#work" class="w3-btn">Click here to view other related sites that have information BUT in many different places... </a></p>
    </div>
    <!-- <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="/w3images/phone_buildings.jpg" alt="Buildings" width="700" height="394"> -->
    <!-- </div> -->
  </div>
</div>

<!-- Team Section -->
<div class="w3-container w3-padding-128" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones who runs this project</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img src="static/images/RP.jpg" alt="RP" style="width:100%">
        <div class="w3-container">
          <h3>Ryan Pan</h3>
          <p class="w3-opacity">Developer</p>
          <p>University of California, Davis, Bachelor’s Degree, Computer Science</p>
          <p><button class="w3-btn-block">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img class="profile" src="static/images/VP.jpg" alt="VP" style="width:100%">
        <div class="w3-container">
          <h3>Victor Pak</h3>
          <p class="w3-opacity">Developer</p>
          <p>Bio...</p>
          <p><button class="w3-btn-block">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img class="profile" src="static/images/SK.jpg" alt="SK" style="max-height:360px; width:100%">
        <div class="w3-container">
          <h3>Soumya Kedlaya</h3>
          <p class="w3-opacity">Developer</p>
          <p>Bio...</p>
          <p><button class="w3-btn-block">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img class="profile" src='static/images/RZ1.jpg' alt="RZ" style="max-height:360px; width:100%">
        <div class="w3-container">
          <h3>Raymond Zhong</h3>
          <p class="w3-opacity">Developer</p>
          <p>Raymond Zhong is a native of San Francisco who holds a Bachelor of Sciences degree in Construction Management.  For the past few years, he has been working in the construction industry and developed good knowledge of the field. He also holds a California salesperson license and is a LEED Accredited Professional.  He believes in giving back to the community by sharing his knowledge about sustainable construction and participating in community service events such as Habitat for Humanity’s Rebuilding Together. In his spare time he enjoys bike riding, swimming, cooking,and spending time with his family and friends.  He is eager develop and maintain good relationships with all his past, present, and future clients and friends.  He is fluent in Cantonese and English and currently learning Mandarin.  Do not hesitate to contact him if you have any questions, he can be reached at 415-508-7108 or by email at raymond.century21@gmail.com.</p>
          <p><button class="w3-btn-block">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
  <div class="w3-quarter">
    <span class="w3-xxlarge">14+</span>
    <br>Partners
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">55+</span>
    <br>Projects Done
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">500+</span>
    <br>Happy Consumers
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">150+</span>
    <br>Meetings
  </div>
</div>

<!-- Work Section -->
<div class="w3-container w3-padding-128" id="work">
  <h3 class="w3-center">OTHER RESOURCES</h3>
  <p class="w3-center w3-large">If you prefer to do your own research, below are links to resources which contain bits of information</p>
  <p>(which we have already integrated in our site). So feel free to browse if you don't trust us...</p>

  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col m3">
      <img src="static/images/crimemapping.svg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Crime Mapping">
    </div>
    <div class="w3-col m3">
      <img src="static/images/sf.jpeg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="San Fran">
    </div>
    <div class="w3-col m3">
      <img src="static/images/SFOD.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="SFOD">
    </div>
    <div class="w3-col m3">
      <img src="static/images/spotcrime.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="SpotCrime">
    </div>
  </div>

  <div class="w3-row-padding w3-section">
    <div class="w3-col m3">
      <img src="static/images/redfin.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="RedFin">
    </div>
    <div class="w3-col m3">
      <img src="static/images/Trulia.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Trulia">
    </div>
    <div class="w3-col m3">
      <img src="static/images/Zillow.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Zillow">
    </div>
    <div class="w3-col m3">
      <img src="static/images/sfpd.jpeg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="SFPD">
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-closebtn w3-text-white w3-opacity w3-hover-opacity-off w3-xxlarge w3-container w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <!-- <h3>Our Skills.</h3> -->
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
      tempor incididunt ut labore et dolore.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
      tempor incididunt ut labore et dolore.</p> -->
    </div>
    <!-- <div class="w3-col m6">
      <p class="w3-wide"><i class="fa fa-camera w3-margin-right"></i>Photography</p>
      <div class="w3-progress-container w3-grey">
        <div class="w3-progressbar w3-dark-grey" style="width:90%"></div>
      </div>
      <p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>Web Design</p>
      <div class="w3-progress-container w3-grey">
        <div class="w3-progressbar w3-dark-grey" style="width:85%"></div>
      </div>
      <p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>Photoshop</p>
      <div class="w3-progress-container w3-grey">
        <div class="w3-progressbar w3-dark-grey" style="width:75%"></div>
      </div>
    </div> -->
  </div>
</div>

<!-- Pricing Section -->
<div class="w3-container w3-padding-128 w3-center w3-dark-grey" id="pricing">
  <h3>Press</h3>
  <!-- <p class="w3-large">Choose a pricing plan that fits your needs.</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
        <li class="w3-padding-16"><b>10GB</b> Storage</li>
        <li class="w3-padding-16"><b>10</b> Emails</li>
        <li class="w3-padding-16"><b>10</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 10</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-black w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-red w3-xlarge w3-padding-32">Pro</li>
        <li class="w3-padding-16"><b>25GB</b> Storage</li>
        <li class="w3-padding-16"><b>25</b> Emails</li>
        <li class="w3-padding-16"><b>25</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-black w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
        <li class="w3-padding-16"><b>50GB</b> Storage</li>
        <li class="w3-padding-16"><b>50</b> Emails</li>
        <li class="w3-padding-16"><b>50</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 50</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-black w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>
  </div> -->
</div>

<!-- Contact Section -->
<div class="w3-container w3-padding-64 w3-light-grey" id="contact">
  <h3 class="w3-center">Contact</h3>
  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-half">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> San Francisco, California, USA</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: 415.508.7108</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: Support@HonestAgent.com</p>
      <br>
      <input class="w3-input w3-border" type="text" placeholder="Name">
      <input class="w3-input w3-border w3-section" type="text" placeholder="Email">
      <input class="w3-input w3-border w3-section" type="text" placeholder="Subject">
      <input class="w3-input w3-border w3-section" type="text" placeholder="Comment">
      <button class="w3-btn w3-section">
        <a href="mailto:raymond.century21@gmail.com"><i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button></a>
    </div>
    <div class="w3-half">
      <!-- Add Google Maps -->
      <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:510px;"></div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <div class="w3-xlarge">
    <a href="http://www.facebook.com" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>
    <a href="http://www.pinterest.com" class="w3-hover-text-red"><i class="fa fa-pinterest-p"></i></a>
    <a href="http://www.twitter.com" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
    <a href="http://www.flickr.com" class="w3-hover-text-grey"><i class="fa fa-flickr"></i></a>
    <a href="http://www.linkedin.com" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>
    <a href="#home" class="w3-hover-text-red" title="Go to top"><i class="fa fa-arrow-up"></i></a>
  </div>
  <p>Powered by <a href="www.codingdojo.com" title="W3.CSS" target="_blank" class="w3-hover-text-green">Coding Dojo</a></p>
</footer>
  </body>
</html>
