<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
       <title>Map</title>
       <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
       {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'map/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr-U2DG8cJOlAItlBSOPzVCjBKHbBUT04&libraries=places"></script>
        <script src="{% static 'map/js/lib/soda-js.bundle.js'%}"></script>
        <script type="text/javascript" src="{% static 'map/js/main.js' %}"></script>

    </head>
    <body>
      <h1>Just trust us...</h1>
      <input type="text" id="autocomplete">
      <div id="map"></div>
      <h2>One step at a time, all in one place</h2>
      <iframe title="Police Calls for Service" width="1250" height="175" src="http://data.sanjoseca.gov/dataviews/embed/911-CALL-DATA/?header_row=0&fixed_column=0" frameborder="0" style="border:1px solid #E2E0E0;padding:0;margin:0;"></iframe><p style="padding:3px 0 15px 0;margin:0;font:11px arial, helvetica, sans-serif;color:#999;">Powered by<a href="http://www.junar.com" title="Junar" style="color:#0862A2;">Junar</a></p>

  </body>
</html>
